.imagecrop-field {
  margin-bottom: 20px;
}

.imagecrop-field-toolbar {
  background-color: #e9f0f4;
  border-top: 1px solid #ced5e1;
  border-left: 1px solid #ced5e1;
  border-right: 1px solid #ced5e1;
}

.imagecrop-field-toolbar > span {
  display: none;
  cursor: pointer;
  width: 60px;
  height: 50px;
  padding: 16px 18px;
  text-align: center;
}

.imagecrop-field-toolbar > span.tool-on {
  display: inline-block;
}

.imagecrop-field-toolbar > span svg {
  fill: #5589a7;
}

.imagecrop-field-toolbar > span:hover {
  background-color: #d8e4eb;
}

.imagecrop-field-toolbar > span.active {
  background-color: #d8e4eb;
}

.img-container {
  max-height: 500px;
  max-width: 100%;
}

.crop-preview .modal-body .image-crop-preview {
  text-align: center;
}

.crop-preview .modal-body img {
  max-width: 100%;
}

.crop-preview .modal-body .image-crop-notes {
  text-align: center;
}

.image-crop-dimensions {
  text-align: left;
}

.crop-preview .image-crop-dimensions {
  text-align: center;
}

.image-crop-dimensions span {
  font-weight: 600;
}

.imagecrop-field-aspect-ratio {
  position: relative;
}

.imagecrop-field-aspect-ratio .dropdown {
  display: none;
}

.imagecrop-field-aspect-ratio:hover .dropdown {
  display: block;
}

.imagecrop-field-aspect-ratio-option {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
}

.imagecrop-field-aspect-ratio-option input {
  width: calc(100% - 10px);
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
}

.imagecrop-field-aspect-ratio-option button {
  width: calc(100% - 20px);
  margin-left: 10px;
  margin-right: 10px;
}

.imagecrop-field-aspect-ratio-option:hover {
  background-color: #bbcbd5;
}

.imagecrop-field-aspect-ratio-option.active {
  background-color: #bbcbd5;
}

.dropdown {
  position: absolute;
  top: 50px;
  z-index: 10;
  background-color: #d8e4eb;
  width: 200px;
  left: 0px;
}

@media (min-width: 1200px) {
  .editor {
    width: 600px !important;
  }
}
